/* * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
} */

.ticket-system {
  max-width: 385px;
}

.ticket-system .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ticket-system .top .title {
  font-weight: normal;
  font-size: 1.6em;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 50px;
  color: #fff;
}

.ticket-system .top .printer {
  width: 90%;
  height: 20px;
  border: 5px solid #fff;
  border-radius: 10px;
  -webkit-box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.2);
}

.ticket-system .receipts-wrapper {
  overflow: hidden;
  margin-top: -10px;
  padding-bottom: 10px;
}

.ticket-system .receipts {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateY(-510px);
          transform: translateY(-510px);
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
  -webkit-animation-name: print;
          animation-name: print;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.ticket-system .receipts .receipt {
  padding: 25px 30px;
  min-height: 200px;
  width: 88%;
  background-color: #fff;
  border-radius: 10px 10px 20px 20px;
  -webkit-box-shadow: 1px 3px 8px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 3px 8px 3px rgba(0, 0, 0, 0.2);
}

.ticket-system .receipts .receipt .airliner-logo {
  max-width: 80px;
}

.ticket-system .receipts .receipt .route {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
}

.ticket-system .receipts .receipt .route .plane-icon {
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.ticket-system .receipts .receipt .route h2 {
  font-weight: 300;
  font-size: 2.2em;
  margin: 0;
}

.ticket-system .receipts .receipt .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ticket-system .receipts .receipt .details .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 70px;
}

.ticket-system .receipts .receipt .details .item span {
  font-size: .8em;
  color: rgba(28, 28, 28, 0.7);
  font-weight: 500;
}

.ticket-system .receipts .receipt .details .item h3 {
  margin-top: 10px;
  margin-bottom: 25px;
}

.ticket-system .receipts .receipt.qr-code {
  height: 110px;
  min-height: unset;
  position: relative;
  border-radius: 20px 20px 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ticket-system .receipts .receipt.qr-code::before {
  content: '';
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #fff), color-stop(50%, #3f32e5));
  background: linear-gradient(to right, #fff 50%, #3f32e5 50%);
  background-size: 22px 4px, 100% 4px;
  height: 4px;
  width: 90%;
  display: block;
  left: 0;
  right: 0;
  top: -1px;
  position: absolute;
  margin: auto;
}

.ticket-system .receipts .receipt.qr-code .qr {
  width: 70px;
  height: 70px;
}

.ticket-system .receipts .receipt.qr-code .description {
  margin-left: 20px;
}

.ticket-system .receipts .receipt.qr-code .description h2 {
  margin: 0 0 5px 0;
  font-weight: 500;
}

.ticket-system .receipts .receipt.qr-code .description p {
  margin: 0;
  font-weight: 400;
}

@-webkit-keyframes print {
  0% {
    -webkit-transform: translateY(-510px);
            transform: translateY(-510px);
  }
  35% {
    -webkit-transform: translateY(-395px);
            transform: translateY(-395px);
  }
  70% {
    -webkit-transform: translateY(-140px);
            transform: translateY(-140px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes print {
  0% {
    -webkit-transform: translateY(-510px);
            transform: translateY(-510px);
  }
  35% {
    -webkit-transform: translateY(-395px);
            transform: translateY(-395px);
  }
  70% {
    -webkit-transform: translateY(-140px);
            transform: translateY(-140px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
