
/* 모달 전체부분 */
#main{
  background-color: rgb(243, 241, 146);
  width:800px;
}
/* 모달 중간 흰띄 부분 */
.card {
  align-items: center;
  background-color: rgb(195, 251, 190);
  border-radius: 40px;
  box-shadow: 0 0.4px 3.6px rgba(0, 0, 0, 0.004),
    0 1px 8.5px rgba(0, 0, 0, 0.01), 0 1.9px 15.7px rgba(0, 0, 0, 0.019),
    0 3.4px 28.2px rgba(0, 0, 0, 0.03), 0 6.3px 54.4px rgba(0, 0, 0, 0.047),
    0 15px 137px rgba(0, 0, 0, 0.07);
  
  flex-direction: column;
    display: flex;
  
  position: relative; 
  /* width: 336px; */
}

/* 모달 버튼 부분 */
.buttons {
  display: flex;
  margin-top: 8px;
  width: 90%;
}
.button {
  align-items: center;
  background: #edf1f7;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  margin-bottom:30px;

  /* margin: 0 5px 28px 20px; */
  width: 100%;
}

/*  두번째 모달  */
#main1{
  background-color: rgb(243, 241, 146);
  width:800px;
}



/* 
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.page-wrapper {
  width: 100%;
  height: 100%;
  background: url(https://goo.gl/OeVhun) center no-repeat;
  background-size: cover;
}

.blur-it {
  filter: blur(4px);
}

a.btn {
  width: 200px;
  padding: 18px 0;
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 0;
  background: #e2525c;
}

.modal-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0; 
  left: 0;
  background: rgba(41, 171, 164, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}

.modal-wrapper.open {
  opacity: 1;
  visibility: visible;
}

.modal {
  width: 600px;
  height: 400px;
  display: block;
  margin: 50% 0 0 -300px;
  position: relative;
  top: 50%; 
  left: 50%;
  background: #fff;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.modal-wrapper.open .modal {
  margin-top: -200px;
  opacity: 1;
}

.head { 
  width: 90%;
  height: 32px;
  padding: 12px 30px;
  overflow: hidden;
  background: #e2525c;
}

.btn-close {
  font-size: 28px;
  display: block;
  float: right;
  color: #fff;
}

.content {
  padding: 10%;
}

.good-job {
  text-align: center;
  font-family: 'Montserrat', Arial,       Helvetica, sans-serif;
  color: #e2525c;
}
.good-job .fa-thumbs-o-up {
  font-size: 60px;
}
.good-job h1 {
  font-size: 45px;
} */




* { box-sizing: border-box }
.hide { display: none }



html {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
 
  
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
  
  
}
.modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0 0 0 );
}


/* 
.modal {
  position: fixed;
  display: block;
  width: 99%;
  height: 98%;
  background: transparent;
  overflow: hidden;
  border-radius: .2em;
} */

.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: inline-block;
  height: 3em;
  width: 10em;
  line-height: 3em;
  border-radius: 1.5em;
  
  font-weight: 700;
  background: #34383c;
  cursor: pointer;
  user-select: none;
  
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.modal .inside { 
  opacity: 0;
  display: none;
  
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  
  text-align: left;
  padding: 2em;
  
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.inside p { margin: 0 }

.inside .btn-close {
  position: absolute;
  top: 1em;
  right: 1em;
  
  background: rgba(0,0,0,.5);
  font-size: .8em;
  text-align: center;
  
  height: 3em;
  width: 3em;
  line-height: 3em;
  border-radius: 3em;
  cursor: pointer;
}

#modalToggle:checked ~ .modal .btn-open {
  animation-name: btnExpand;
}
#modalToggle:checked ~ .modal .inside {
  display: block;
  animation-name: delayedFadeIn;
}

.inner_container{
    display:o;
    width:880px;
    height:480px;
    z-index: 2;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.poster{
    margin-left:-100px;
    width:50%;
    height: 93%;
   
    float:left;
    border-radius: 20px;
    margin-top:30px;
}
.poster_img{
    width:100%;
    height: 100%;
    object-fit: fill;
    border-radius: 20px;
    position: relative;
}

.poster1{
  width:37%;
  height: 85%;
 
  float:left;
  border-radius: 20px;
  margin-top:30px;
}
.poster_img1{
  width:100%;
  height: 100%;
  object-fit: fill;
  border-radius: 20px;
  position: relative;
}


.reservation{
    width:60%;
    height: 83%;
    float:right;
    margin-top:30px;
    border-radius: 20px;
}
.select_movie{
    width: 100%;
    height: 10%;
    border-radius: 20px;
}
.movie_name_place{
    margin-left:-100px;
    padding-left:20px;
    width:250px;
    height: 100%;
    font-size: 20px;
    float:left;
    border-right: 1px solid;
    background-color: rgb(246, 227, 190);
    font-family: bold;
    color:black;
}


.movie_name_date{
    padding-left:20px;
    width:250px;
    height: 100%;
    font-size: 20px;
    float:left;
    border-right: 1px solid;
    background-color: rgb(246, 227, 190);
    font-family: bold;
    color:black;
}

.movie_name_time{
   margin-right:-100px;
    padding-left:20px;
    width:280px;
    height: 100%;
    font-size: 20px;
    float:left;
    border-right: 1px solid;
    background-color: rgb(246, 227, 190);
    font-family: bold;
    color:black;
}

.movie_name{
    padding-left:20px;
    width:300px;
    height: 100%;
    font-size: 20px;
    float:left;
    border-right: 1px solid;
  background-color: rgb(246, 227, 190);
    font-family: bold;
    color:black;
}

/* .movie_people{
  padding-left:30px;
  width:15%;
  height: 100%;
  font-size: 20px;
  float:left;
  background-color: rgb(206, 77, 152);
  color:black;
} */

.seat{
  margin-left:30px;
  margin-top:10px;
  border-radius: 10px;
  
}

.seat_reservation{
    width: 100%;
    height: 76%;
    
}
.seat_reservation_left{

    width:70%;
    height:100%;
    float: left;
}
/* 예매버튼 및 선택 예약 가능 css */
.seat_reservation_right{
  margin-top:70px;
    margin-right:-30px;
    margin-left:0px;
    width:10%;
    height:80%;
   
    float: right;
    position: relative;
}
.ticketing{
   
    margin-right:-50px;
    width:130px;
    height:60px;
    float:right;
    color:white;
    text-align: center;
}
.ticketing input{
    width:100%;
    height:100%;
    border-radius:10px;
    background-color: rgb(236, 185, 185);
    color:white;
    
}
.color_explanation{
    position: absolute;
    top: 65%;
    left:50%;
    transform: translate(-40%, -30%);
    
    width:130px;
}
.color_explanation table{
    width:100%;

}
 .selected___{
    width:35px;
    background-color:darkred;
}
.reserved___{
    width:35px;
    background-color:cornflowerblue;
}
.empty{
    width:35px;
    background-color:black;
} 
 
.seat_{
    width:100%;
    height:84%;
   
    margin-top:18px;
}
.seat_left{

    /* width:20%;
    height:90%;
     */
    float: left;
    margin:13px 0px;
}
.seat_middle{
    margin-left:20px;
    /* width:120px;
    height:90%; */
    /* background-color:ivory; */
    float: left;
    margin:13px 36px;
}
.seat_right{
    /* width:20%;
    height:90%; */
  
    float: left;
    margin:13px 0px;
}
/* 왼쪽 좌석 */
.seat_chair{
  margin-left:-5px;
  margin-top:-15px;
  font-size:14px;
  font-family: bold;
    width:15%;
    height: 230px;
    color: rgb(249, 253, 0);
} 
/* 오른쪽 좌석 */
.seat_chair_right{
  margin-left:315px;
  margin-top:-424px;
  float:left;
  font-size:14px;
  font-family: bold;
     width:30px;
    height: 230px; 
    color: rgb(249, 253, 0);
} 
/*  좌석 중간 */
.seat_chair_middle{
  margin-top:-15px;
  margin-left:-17px;
  font-size:14px;
  font-family: bold;
    width:143px;
    height: 230px;
    color: rgb(249, 253, 0);
    
    
}
.screen{
  margin-left:40px;
  width:100%;
  height:20%;
  border: 5px solid black;
  background-color:rgb(68, 20, 158);
  color:#EAED0E;
  font-family: bold;
  /* margin:0 auto; */
  text-align: center;
  font-size: 30px;
  border-radius: 20px;
} 
.seat_chair_middle > tr,td{
    /* border:7px solid rgb(70, 145, 168); */
    border:7px solid rgb(68, 20, 158);
     background-color:black; 
} */
td{
  size:1px;
}



@keyframes btnExpand {
  15% {
    color: transparent;
    width: 10em;
  }
  35% {
    width: 3em;
    height: 3em;
    border-radius: 9999px;
    margin: 0;
  }
  to {
    width: 9999px;
    height: 9999px;
    border-radius: 9999px;
    color: transparent;
  }
}

@keyframes delayedFadeIn {
  from: {
    opacity: 0
  }
  55% {
    opacity: 0
  }
  65% {
    opacity: 1
  }
  to {
    opacity: 1
  }
}